<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Powerpoint Upload</h1>
    <br />
    <br />
    <form method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}
        <p>NOTE: Only .pptx files are accepted.</p>
    </form>
</body>
</html>
